
body {
background-color: #FFE5B4;
}

.banner {
background-color: #007bff; /* Change the background color */
color: #fff; /* Change the text color */
padding: 20px; /* Adjust the padding as needed */
text-align: center; /* Center the text horizontally */
}

h1 {
text-align: center;
color: black;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
}

th, td {
text-align: center;
vertical-align: middle;
}

tr:nth-child(even) {
background-color: #DBDBD1;
}

.table-heading {
font-size: 24px;
border-bottom: 1px solid #000000;
}


a {
font-size: 1.2rem;
text-decoration: none;
color: #d3d3d3;
}

.navbar {
text-align: center;
margin: 10px;
padding: 5px;
margin-right:10px;
color: #d3d3d3;
}

a:hover {
color: #c79048;
}


.form-container {
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
padding: 20px;
max-width: 400px;
width: 100%;
margin:auto;
}

input[type=text]:focus {
background-color: #ebd7be;
}

.form-container input[type="submit"] {
background-color: #c79048;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
display: block;
margin: auto;
cursor: pointer;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)

}

input[type=submit]:hover {
background-color: #ebd7be;
}


.rounded-input {
padding:10px;
border-radius:10px;
}

label {
color: #d3d3d3;
}

.bg-white {
margin-top: 5px;
max-width: 60%;
margin: auto;
padding: 20px;
background-color: white;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
position: relative;
}



